body {
    background-color: dodgerblue;
    color: white;
} 

.title {
    font-family: 'Bungee', cursive;
    text-align: center;
    font-size: 3em;
    margin: 0;
}

.subtitle { 
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-bottom: 2em;
}


.container { 
    margin: 1em;
    justify-self: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 1em;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5em 3em;
    margin: 1em;
    text-align: left;
}

.score {
    text-align: center;
    width: 30%;
    max-width: 250px;
    margin: 0 auto;
}

.score-text {
    font-size: large;
    font-weight: 600;
}


.option { 
    margin: 1em;
}

.submit {
    width: 30%;
    max-width: 250px;
    height: 60px;
    border-radius: 1em;
    border: none;
    background-color: #FF8F1F;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: large;
    margin: 0 auto;
    cursor:pointer;
    transition-duration: 150ms;
}

.submit:hover{
    color: #FF8F1F;
    background-color: white;
    font-size: x-large;
    transition: all;
    transition-duration: 150ms;
}

form {
    text-align: center;
}

.hidden {
    display: none;
}

.gj {
    background-color: #63f277;
}

.sc {
    background-color: #afd22f;
}

.at {
    background-color: #ddad00;
}

.ys {
    background-color: #f9822b;
}

.fm {
    background-color: #ff5656;
}

.kys {
    background-color: black;
    color: white;
}

.right {
    background-color: #63f277;
}

.wrong {
    background-color: #ff5656;
}